.container-box{ 
    flex-wrap: wrap;  
}
.box-case{
    width: 47%;
    height: 100%; 
    justify-content: start;
    gap: 1rem;  
    margin-bottom: 40px;
}
.box-case > div {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
}
.box-case h3{
    font-family: 'Articulat-Light';
    font-size: 43px;
}
.box-case h4{
    font-family: 'Articulat-Light';
    text-transform: uppercase;
    font-size:26px ;
}
.box-case p{
    font-family: 'Articulat-Regular';
    font-size: 23px;
}